{% extends 'base_cenIos.html' %}
{% block title %}
天天生鲜-用户中心
{% endblock %}
{% block head_js_css %}
<script type="text/javascript">
		$(function(){
            showdef()

		})

        function showdef(){
		    $('.notDefault').hover(function(){
                      $(this).children('div').css('display','block')
			},function(){
				$(this).children('div').css('display','none')

			})
        }

        function isDefault (id) {
           $.get('/user/cenSite',{"is_default":id},function (context) {
               list=context.addrlist
               $('#dl1').empty()
               str=""
               $.each(list,function (i,addr) {
                   if(addr.is_default){
                         str+= '<dd>'+ addr.addr+'（ '+addr.receiver+' 收） '+addr.phone+' <div class="default">默认地址</div></dd>'

                   }
                   else{
                         str+='<dd class="notDefault">'+ addr.addr+'（ '+addr.receiver+' 收） '+addr.phone+' <div class="adddefault" onclick="isDefault('+addr.id +')">设为默认</div></dd>'

                   }

               })
                $('#dl1').append(str)
           })
        }
	</script>
{% endblock %}
{% block center_down_body %}

		<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
				<div class="site_con" onmouseout="showdef()" onmouseover="showdef()">
					<dl id="dl1">
                       <dt>当前地址：</dt>
                        {% for addr in addrlist %}
                            {% if addr.is_default == 1 %}
                              <dd> {{ addr.addr }} （{{ addr.receiver }} 收） {{ addr.phone }} <div class="default">默认地址</div></dd>

                            {% else %}
                            <dd class="notDefault">{{ addr.addr }} （{{ addr.receiver }} 收） {{ addr.phone }} <div class="adddefault" onclick="isDefault({{ addr.id }})">设为默认</div></dd>
                            {% endif %}
                        {% endfor %}




					</dl>					
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="receiver">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="addr"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="zip_code">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
	</div>


{% endblock %}

